.headerTitle
{
    float: left;
}

.headerArrow
{
    float: right;
}

#network .header,
#software .header,
#hardware .header
{
    cursor: pointer;
    min-height: 20px;
}

.repContent
{
    margin-bottom: 25px;
}

/* TODO remove this as soon as the-esa pushed her clear fix */
.clear
{
    clear: both;
}

.spinner
{
    margin-top: 12px;
    margin-right: 20px;
}

.headerArrow img
{
    height: 16px;
    margin-right: 5px;
}

.arrowRotate
{
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.resultsTable
{
    margin-top: 25px;
}

.resultsTable td
{
    padding: 0px 5px;
}