@CHARSET "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12pt;
}

#wrapper {
	position:relative;
    width: 1020px;
    height: 764px;
    padding:10px;
    margin: 0 auto auto 0;
    box-shadow: 0 0 5px 5px #000000;
}

#main {
	position:relative;
    width: 100%;
}

#head{
	width:100%;
	height:auto;
	border-bottom:2px #7AA8C6 solid;
	box-shadow: 0 0 5px 5px #000000;
}

img.headlogo{
	display:block;
	height:100px;
	float:left;
	width:auto;
	margin-right:20px;
}

#headtitle{
	font-variant:small-caps;
	font-size:20pt;
}

#navbar {
    width: 100%;
    position:relative;
    text-align:center;
}

#navbar li{
    display: inline;
    list-style-type: none;
    line-height:120%;
    width:150px;
}

#navlist li:before { content: " | "; }
#navlist li:first-child:before { content: ""; }


#content {
    width: 80%;
    height: auto;
    margin:auto;
    padding-top:200px;
}

form#login {
    width: 320px;
    margin: auto;
    font-size: 1.3em;
}

div.description {
    width: 100%;
    margin-top: 10px;
}

div.input {
    width: 100%;
}

.input input {
    width: 100%;
    line-height: 1.3em;
}